<strong><small>Overview</small></strong>
<div id="orientation_bar">
  <div id="overview"><img src="/overview/<%=@user.username%>/<%=@annotation.name%>/<%=@sequence_region.seq_id%>" alt=''/></div>
  <div id="slice" style="left: <%=@slice_left%>px; width: <%=@slice_width%>px;">
  &nbsp;</div>
</div>
